<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment212.Properties.Settings.ist2ibConnectionString"
            connectionString="Data Source=143.128.146.30\istn2;Initial Catalog=ist2ib;Persist Security Info=True;User ID=Ist2ib;Password=563feb;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>